html, body{
	width: 100%;
	height: 107%;
}
body{
	background-size: 100% 110%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
@media only screen 
and (orientation: portrait){
	select{
		font-size: 85%;
	}
	form.search{
		font-size: 85%;
	}
}

@media only screen 
and (min-width : 321px) and (orientation: landscape){
	html, body{
	width: 100%;
	height: 110% !important;
}
	select{
		font-size: 110%;
	}
	form.search{
		font-size: 110%;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) and (orientation: portrait){
	select{
		font-size: 85%;
	}
	form.search{
		font-size: 85%;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	select{
		font-size: 150%;
	}
	form.search{
		font-size: 150%;
	}
	
}


/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	/* Styles */
	select{
		font-size: 125%;
	}
	form.search{
		font-size: 125%;
	}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	/* Styles */
	select{
		font-size: 125%;
	}
	form.search{
		font-size: 125%;
	}
	
}
#wrapper {
	min-height:100%;
	position:relative;
}
#middle {
	padding-bottom:30px; /* Height of the footer element */
}

#footer {
	font-size: 70%;
	background-color: black;
	color: white;
	width:100%;
	height:30px;
	vertical-align: middle;
	text-align: center;
	position:absolute;
	bottom:0;
	left:0;
	line-height: 30px;
	font-style: italic;
}

.input-group{
	clear:both;
}

.form-control{
	border-left: none !important;
}
.select{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	display: inline-block;
}
select{
	padding: 5px;
	border: 1px grey solid;
	border-radius: 0;
}
.drop{
	display: flex;
	justify-content: space-between; 
}
.padding{
	padding: 0 5%;
}
label, div.reset a, input[type = submit]{
	font-size: 140%;
}